<!DOCTYPE html>
<html>

<head>
  <title>List of Publications</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <%- include('layout') %>
    <h2>Crear una nueva publicación:</h2>
    <form action="/publicaciones" method="POST">
      <label for="Id">Id:</label>
      <input type="text" name="Id" required>

      <label for="Tipo_publicacion">Tipo de publicación:</label>
      <input type="text" name="Tipo_publicacion" required>

      <label for="mes_publicacion">Mes de publicación:</label>
      <input type="text" name="mes_publicacion" required>
      <br>
      <label for="dia_publicacion">Día de publicación:</label>
      <input type="text" name="dia_publicacion" required>

      <label for="hora_publicacion">Hora de publicación:</label>
      <input type="text" name="hora_publicacion" required>

      <label for="pagado">Pagado (Sí(1) o No(0)):</label>
      <input type="text" name="pagado" required>

      <button type="submit">Crear</button>
    </form>
    <form action="/publicaciones" method="GET">
      <label for="mes">Selecciona un mes:</label>
      <select name="mes" id="mes">
        <option value="">Todas</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
      <label for="dia">Selecciona un dia:</label>
      <select name="dia" id="dia">
        <option value="">Todas</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sabado</option>
        <option value="7">Domingo</option>
      </select>
      <label for="hora">Selecciona la hora:</label>
      <select name="hora" id="hora">
        <option value="">Todas</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <button type="submit">Buscar</button>
    </form>
    <h2>Publicaciones existentes:</h2>
    <ul>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipo de publicación</th>
              <th scope="col">Mes de publicación</th>
              <th scope="col">Día de publicación</th>
              <th scope="col">Hora de publicación</th>
              <th scope="col">Pagado</th>
            </tr>
          </thead>
          <tbody>
            <% publicaciones.forEach(publicacion=> { %>
              <tr>
                <td>
                  <%= publicacion.Id %>
                </td>
                <td>
                  <%= publicacion.Tipo_publicacion %>
                </td>
                <td>
                  <%= publicacion.mes_publicacion %>
                </td>
                <td>
                  <%= publicacion.dia_publicacion %>
                </td>
                <td>
                  <%= publicacion.hora_publicacion %>
                </td>
                <td>
                  <%= publicacion.pagado %>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </ul>

    </main>
    </div>
    </div>
    <div class="container">
      <canvas id="publicidadeschart" width="400" height="200"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const chartData = {
        // SELECT * FROM `publicaciones` WHERE `mes_publicacion` = 5
        labels: <%= JSON.stringify(publicaciones.map(com => com.Id)) %>,
        datasets: [{
          label: 'Número de publicaciones pagadas',
          data: <%= JSON.stringify(publicaciones.map(com => com.pagado)) %>,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
        }]
      };

      const ctx = document.getElementById('publicidadeschart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          animations: {
            tension: {
              duration: 1000,
              easing: 'linear',
              from: 1,
              to: 0,
              loop: true
            }
          },
          scales: {
            y: { // defining min and max so hiding the dataset does not change scale range
              min: 0,
              max: 1.3
            }
          }
        }
      });

    </script>
</body>

</html>